In [21]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession, DataFrame

# Creating Spark Session

In [2]:
spark = SparkSession.builder \
    .appName("Doc Learning") \
    .getOrCreate()

In [3]:
df = spark.read.csv("C:\Education\PySpark-Learning\data\data_per_100k_habitants.csv", header=True, inferSchema=True)

In [4]:
df.show()

+----+-----------------------------------------------------------+---+---------+---------------+--------------------+----+-----------------------------------------------------------+---+---------+---------------+--------------------+----+-----------------------------------------------------------+----+---------+---------------+--------------------+----+-----------------------------------------------------------+----+---------+---------------+--------------------+----+-----------------------------------------------------------+----+---------+---------------+--------------------+----+-----------------------------------------------------------+----+---------+---------------+--------------------+----+-----------------------------------------------------------+----+---------+---------------+--------------------+----+-----------------------------------------------------------+----+---------+---------------+--------------------+----+-----------------------------------------------------------+----+---------+---------------+--------------------+
| _c0|Disque 100 - Ano 2011 - N�mero de den�ncias por UF, por m�s|_c2|      _c3|            _c4|                 _c5| _c6|Disque 100 - Ano 2012 - N�mero de den�ncias por UF, por m�s|_c8|      _c9|           _c10|                _c11|_c12|Disque 100 - Ano 2013 - N�mero de den�ncias por UF, por m�s|_c14|     _c15|           _c16|                _c17|_c18|Disque 100 - Ano 2014 - N�mero de den�ncias por UF, por m�s|_c20|     _c21|           _c22|                _c23|_c24|Disque 100 - Ano 2015 - N�mero de den�ncias por UF, por m�s|_c26|     _c27|           _c28|                _c29|_c30|Disque 100 - Ano 2016 - N�mero de den�ncias por UF, por m�s|_c32|     _c33|           _c34|                _c35|_c36|Disque 100 - Ano 2017 - N�mero de den�ncias por UF, por m�s|_c38|     _c39|           _c40|                _c41|_c42|Disque 100 - Ano 2018 - N�mero de den�ncias por UF, por m�s|_c44|     _c45|           _c46|                _c47|_c48|Disque 100 - Ano 2019 - N�mero de den�ncias por UF, por m�s|_c50|     _c51|           _c52|                _c53|
+----+-----------------------------------------------------------+---+---------+---------------+--------------------+----+-----------------------------------------------------------+---+---------+---------------+--------------------+----+-----------------------------------------------------------+----+---------+---------------+--------------------+----+-----------------------------------------------------------+----+---------+---------------+--------------------+----+-----------------------------------------------------------+----+---------+---------------+--------------------+----+-----------------------------------------------------------+----+---------+---------------+--------------------+----+-----------------------------------------------------------+----+---------+---------------+--------------------+----+-----------------------------------------------------------+----+---------+---------------+--------------------+----+-----------------------------------------------------------+----+---------+---------------+--------------------+
|NULL|                                                   Ranking*| UF|Den�ncias|Popula��o Total|Den�ncias por 100...|NULL|                                                   Ranking*| UF|Den�ncias|Popula��o Total|Den�ncias por 100...|NULL|                                                   Ranking*|  UF|Den�ncias|Popula��o Total|Den�ncias por 100...|NULL|                                                   Ranking*|  UF|Den�ncias|Popula��o Total|Den�ncias por 100...|NULL|                                                   Ranking*|  UF|Den�ncias|Popula��o Total|Den�ncias por 100...|NULL|                                                   Ranking*|  UF|Den�ncias|Popula��o Total|Den�ncias por 100...|NULL|                                                   Ranking*|  UF|Den�ncias|Popula��o Total|Den�ncias por 100...|NULL|                                                   Ranking*|  UF|Den�ncias|Popula��o Total|Den�ncias por 100...|NULL|                                                   Ranking*|  UF|Den�ncias|Popula��o Total|Den�ncias por 100...|
|NULL|                                                         1�| DF|       58|        2570160|    2.25666884551934|NULL|                                                         1�| DF|      161|        2570160|    6.26420145049335|NULL|                                                         1�|  RO|       73|        1562409|    4.67227211312787|NULL|                                                         1�|  DF|       58|        2570160|    2.25666884551934|NULL|                                                         1�|  PA|      194|        7581051|    2.55901193647161|NULL|                                                         1�|  AP|        0|         669526|                   0|NULL|                                                         1�|  MG|      207|         733559|    28.2185890978094|NULL|                                                         1�|  MG|      316|         733559|    43.0776529222598|NULL|                                                         1�|  DF|      101|        3015268|    3.34961933731927|
|NULL|                                                         2�| RO|       23|        1562409|    1.47208573427316|NULL|                                                         2�| MT|      114|        3035122|    3.75602694059745|NULL|                                                         2�|  DF|       94|        2570160|    3.65735985308308|NULL|                                                         2�|  PA|      168|        7581051|     2.2160515738517|NULL|                                                         2�|  DF|       61|        2570160|    2.37339309614966|NULL|                                                         2�|  MG|      162|         733559|    22.0841132069813|NULL|                                                         2�|  BA|      273|        1562409|    17.4730176285467|NULL|                                                         2�|  BA|      186|        1562409|    11.9046933293395|NULL|                                                         2�|  RR|       19|         605761|    3.13655055376625|
|NULL|                                                         3�| MT|       44|        3035122|    1.44969460865165|NULL|                                                         3�| MS|       76|        2449024|    3.10327706057597|NULL|                                                         3�|  MT|      109|        3035122|    3.59128891688703|NULL|                                                         3�|  MT|       64|        3035122|     2.1086467034933|NULL|                                                         3�|  MT|       71|        3035122|    2.33927993668788|NULL|                                                         3�|  PA|      200|        1383445|    14.4566643415532|NULL|                                                         3�|  MT|       41|         450479|    9.10142315180064|NULL|                                                         3�|  RJ|      247|        3035122|    8.13805837129446|NULL|                                                         3�|  RN|       85|        3506853|    2.42382557808953|
|NULL|                                                         4�| SC|       84|        6248436|    1.34433640674242|NULL|                                                         4�| RO|       43|        1562409|    2.75216028581505|NULL|                                                         4�|  MS|       66|        2449024|    2.69495113155281|NULL|                                                         4�|  AM|       51|        3483985|    1.46384097520512|NULL|                                                         4�|  TO|       22|        1383445|    1.59023307757085|NULL|                                                         4�|  MT|       47|         450479|     10.433338734991|NULL|                                                         4�|  SP|      432|        6574789|    6.57055306261539|NULL|                                                         4�|  SP|      531|        6574789|    8.07630480613142|NULL|                                                         4�|  AP|       15|         845731|    1.77361359581238|
|NULL|                                                         5�| PE|      118|        8796448|    1.34145054913074|NULL|                                                         5�| GO|      164|        6003788|    2.73160877765837|NULL|                                                         5�|  AM|       92|        3483985|    2.64065430821315|NULL|                                                         5�|  MS|       34|        2449024|    1.38830815867872|NULL|                                                         5�|  MS|       36|        2449024|    1.46997334448335|NULL|                                                         5�|  BA|      111|        1562409|    7.10441376105744|NULL|                                                         5�|  RJ|      183|        3035122|    6.02941166780116|NULL|                                                         5�|  MT|       32|         450479|    7.10354977701513|NULL|                                                         5�|  MG|      318|       21168791|    1.50221143947238|
|NULL|                                                         6�| MS|       31|        2449024|    1.26581037997178|NULL|                                                         6�| PA|      178|        7581051|    2.34795940562859|NULL|                                                         6�|  PB|       93|        3766528|    2.46911744715558|NULL|                                                         6�|  AC|       10|         733559|    1.36321686462848|NULL|                                                         6�|  AC|        8|         733559|    1.09057349170278|NULL|                                                         6�|  SP|      297|        6574789|    4.51725523054808|NULL|                                                         6�|  PA|       75|        1383445|    5.42124912808243|NULL|                                                         6�|  PA|       69|        1383445|    4.98754919783584|NULL|                                                         6�|  SC|       94|        7164788|    1.31197182666117|
|NULL|                                                         7�| AC|        8|         733559|    1.09057349170278|NULL|                                                         7�| PE|      183|        8796448|    2.08038517365191|NULL|                                                         7�|  PA|      163|        7581051|    2.15009765796326|NULL|                                                         7�|  RO|       21|        1562409|    1.34407827911898|NULL|                                                         7�|  RO|       19|        1562409|    1.21607082396479|NULL|                                                         7�|  RJ|      136|        3035122|    4.48087424492327|NULL|                                                         7�|  GO|       77|        2449024|    3.14410965347828|NULL|                                                         7�|  GO|       80|        2449024|    3.26660743218523|NULL|                                                         7�|  SP|      581|       45919049|    1.26527010609475|
|NULL|                                                         8�| TO|       15|        1383445|    1.08424982561649|NULL|                                                         8�| PB|       78|        3766528|    2.07087269761435|NULL|                                                         8�|  MG|      350|       19597330|    1.78595757687399|NULL|                                                         8�|  MA|       77|        6574789|    1.17114024495691|NULL|                                                         8�|  MA|       71|        6574789|     1.0798825635317|NULL|                                                         8�|  GO|       86|        2449024|    3.51160298959912|NULL|                                                         8�|  RS|       94|        3766528|    2.49566709712499|NULL|                                                         8�|  DF|       96|        3118360|    3.07854128452135|NULL|                                                         8�|  MT|       44|        3484466|     1.2627472904026|
|NULL|                                                         9�| GO|       62|        6003788|    1.03268136716353|NULL|                                                         9�| RN|       61|        3168027|     1.9254886400905|NULL|                                                         9�|  ES|       62|        3514952|    1.76389321959446|NULL|                                                         9�|  GO|       68|        6003788|    1.13261827366323|NULL|                                                         9�|  BA|      145|       14016906|    1.03446509522144|NULL|                                                         9�|  RO|       70|        2570160|    2.72356584804059|NULL|                                                         9�|  PR|       73|        3168027|    2.30427329060011|NULL|                                                         9�|  RS|      113|        3766528|    3.00011044654387|NULL|                                                         9�|  MS|       34|        2778986|    1.22346784042813|
|NULL|                                                        10�| MG|      200|       19597330|    1.02054718678514|NULL|                                                        10�| AM|       67|        3483985|    1.92308520272045|NULL|                                                        10�|  RJ|      280|       15989929|    1.75110220939693|NULL|                                                        10�|  RJ|      175|       15989929|    1.09443888087308|NULL|                                                        10�|  MG|      197|       19597330|    1.00523897898336|NULL|                                                        10�|  PE|       62|        3120494|    1.98686490023695|NULL|                                                        10�|  DF|       62|        3118360|    1.98822457958671|NULL|                                                        10�|  PE|       75|        3120494|    2.40346560512534|NULL|                                                        10�|  GO|       84|        7018354|    1.19686182828623|
|NULL|                                                        11�| PB|       38|        3766528|    1.00888669883776|NULL|                                                        11�| MG|      370|       19597330|    1.88801229555251|NULL|                                                        11�|  TO|       24|        1383445|    1.73479972098638|NULL|                                                        11�|  PB|       34|        3766528|   0.902688098960103|NULL|                                                        11�|  AM|       35|        3483985|    1.00459674768979|NULL|                                                        11�|  DF|       49|        3118360|    1.57133878064111|NULL|                                                        11�|  PE|       59|        3120494|    1.89072627603194|NULL|                                                        11�|  PR|       69|        3168027|    2.17801174043024|NULL|                                                        11�|  TO|       18|        1572866|    1.14440772449783|
|NULL|                                                        12�| PI|       26|        3118360|   0.833771597891199|NULL|                                                        12�| ES|       64|        3514952|     1.8207930008717|NULL|                                                        12�|  GO|      102|        6003788|    1.69892741049484|NULL|                                                        12�|  BA|      125|       14016906|   0.891780254501243|NULL|                                                        12�|  RJ|      152|       15989929|   0.950598342244046|NULL|                                                        12�|  PR|       45|        3168027|    1.42044243941103|NULL|                                                        12�|  AM|       43|        3514952|    1.22334529746068|NULL|                                                        12�|  SC|      136|        8452381|    1.60901407544217|NULL|                                                        12�|  AC|       10|         881935|    1.13387040995085|
|NULL|                                                        13�| BA|      106|       14016906|   0.756229655817054|NULL|                                                        13�| TO|       24|        1383445|    1.73479972098638|NULL|                                                        13�|  RN|       49|        3168027|     1.5467039895809|NULL|                                                        13�|  MG|      170|       19597330|   0.867465108767368|NULL|                                                        13�|  RR|        4|         450479|   0.887943722126892|NULL|                                                        13�|  AM|       44|        3514952|     1.2517951880993|NULL|                                                        13�|  ES|       58|        6003788|     0.9660567628304|NULL|                                                        13�|  ES|       74|        6003788|    1.23255518016292|NULL|                                                        13�|  RJ|      191|       17264943|    1.10628804276968|
|NULL|                                                        14�| RJ|      119|       15989929|   0.744218438993694|NULL|                                                        14�| RJ|      262|       15989929|    1.63853135307855|NULL|                                                        14�|  PR|      152|       10444526|    1.45530778514985|NULL|                                                        14�|  PE|       74|        8796448|   0.841248649454871|NULL|                                                        14�|  GO|       52|        6003788|   0.866119856330703|NULL|                                                        14�|  RS|       45|        3766528|    1.19473424862367|NULL|                                                        14�|  SC|       69|        8452381|   0.816338023569927|NULL|                                                        14�|  MS|       47|        7581051|   0.619966809351368|NULL|                                                        14�|  BA|      147|       14873064|   0.988363930929094|

# 1 - Aggregation function

## Aggregate on the entire DataFrame without groups (shorthand for df.groupBy().agg()).

In [5]:
agg_sample = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])

In [6]:
# example 1 - simple operations
agg_df_1 = agg_sample.agg({"age": "max"})
agg_df_1.show()

+--------+
|max(age)|
+--------+
|       5|
+--------+

In [7]:
# example 2 - aggregating multiple columns
agg_df_2 = agg_sample.agg(
    {
        "age": "max",
        "name": "min"
    }
)
agg_df_2.show()

+---------+--------+
|min(name)|max(age)|
+---------+--------+
|    Alice|       5|
+---------+--------+

In [8]:
# exempla 3 - using sql functions for aggregations
agg_df_3 = agg_sample.agg(
    F.max("age").alias("MAX_AGE"),
    F.count("name").alias("NAME_COUNT")
).select("MAX_AGE", "NAME_COUNT").show()

+-------+----------+
|MAX_AGE|NAME_COUNT|
+-------+----------+
|      5|         2|
+-------+----------+

In [9]:
# example 4 - using with groupBy
agg_df_4 = agg_sample.groupBy(F.col("age")).agg(F.count("*"))
agg_df_4.show()

+---+--------+
|age|count(1)|
+---+--------+
|  2|       1|
|  5|       1|
+---+--------+

In [10]:
# example 5 - Aggregating with Multiple Functions on the Same Column
agg_df_5 = agg_sample.agg(
    F.min("age").alias("min_age"),
    F.max("age").alias("max_age"),
    F.avg("age").alias("avg_age"),
    F.count("age").alias("count_age")
)
agg_df_5.show()

+-------+-------+-------+---------+
|min_age|max_age|avg_age|count_age|
+-------+-------+-------+---------+
|      2|      5|    3.5|        2|
+-------+-------+-------+---------+

In [11]:
# example 6 - using custom aggregations
from pyspark.sql import types as T

# Define a UDF for custom aggregation
@F.udf(T.DoubleType())
def custom_agg(values):
    return sum(values) / len(values)  # Custom example: mean calculation

# Apply custom aggregation
agg_df_6 = agg_sample.groupBy("name").agg(
    custom_agg(F.collect_list("age")).alias("custom_age_mean")
)
agg_df_6.show()

+-----+---------------+
| name|custom_age_mean|
+-----+---------------+
|Alice|            2.0|
|  Bob|            5.0|
+-----+---------------+

## Exercises "agg" function

In [12]:
# sample data
data = [(1, "Alice", "Sales", 34, 70000, 5),
        (2, "Bob", "HR", 45, 80000, 10),
        (3, "Catherine", "IT", 29, 90000, 3),
        (4, "David", "IT", 39, 85000, 7),
        (5, "Eve", "Sales", 41, 75000, 8),
        (6, "Frank", "HR", 30, 60000, 2),
        (7, "Grace", "IT", 35, 95000, 6),
        (8, "Hannah", "Sales", 50, 65000, 12),
        (9, "Ivy", "IT", 38, 87000, 9),
        (10, "Jack", "HR", 28, 72000, 4)]

columns = ["id", "name", "department", "age", "salary", "experience"]

agg_sample = spark.createDataFrame(data, columns)

# Show the sample data
agg_sample.show()

+---+---------+----------+---+------+----------+
| id|     name|department|age|salary|experience|
+---+---------+----------+---+------+----------+
|  1|    Alice|     Sales| 34| 70000|         5|
|  2|      Bob|        HR| 45| 80000|        10|
|  3|Catherine|        IT| 29| 90000|         3|
|  4|    David|        IT| 39| 85000|         7|
|  5|      Eve|     Sales| 41| 75000|         8|
|  6|    Frank|        HR| 30| 60000|         2|
|  7|    Grace|        IT| 35| 95000|         6|
|  8|   Hannah|     Sales| 50| 65000|        12|
|  9|      Ivy|        IT| 38| 87000|         9|
| 10|     Jack|        HR| 28| 72000|         4|
+---+---------+----------+---+------+----------+

In [13]:
# question 1: Find the maximum age, average salary, and total experience for all employees.
q1 = agg_sample.agg(
    F.max("age").alias("max_age"),
    F.avg("salary").alias("avg_salary"),
    F.sum("experience").alias("total_experience")
).show()

+-------+----------+----------------+
|max_age|avg_salary|total_experience|
+-------+----------+----------------+
|     50|   77900.0|              66|
+-------+----------+----------------+

In [14]:
# question 2: Group the employees by department and find the maximum age, average salary, and total experience for each department.
q2 = agg_sample.groupBy("department").agg(
    F.max("age").alias("max_age"),
    F.avg("salary").alias("avg_salary"),
    F.sum("experience").alias("total_experience")
).select(
    "department",
    "max_age",
    "avg_salary",
    "total_experience"
).show()

+----------+-------+-----------------+----------------+
|department|max_age|       avg_salary|total_experience|
+----------+-------+-----------------+----------------+
|     Sales|     50|          70000.0|              25|
|        HR|     45|70666.66666666667|              16|
|        IT|     39|          89250.0|              25|
+----------+-------+-----------------+----------------+

In [15]:
# question 3: Find the minimum age, maximum salary, and count of employees.
q3 = agg_sample.agg(
    F.min("age").alias("min_age"),
    F.max("salary").alias("max_salary"),
    F.count("*").alias("employee_count")
).show()

+-------+----------+--------------+
|min_age|max_salary|employee_count|
+-------+----------+--------------+
|     28|     95000|            10|
+-------+----------+--------------+

In [16]:
# question 4 - Group the employees by department and find the minimum age,
# maximum salary, and count of employees for each department.
q4 = agg_sample.groupBy("department").agg(
    F.min("age").alias("min_age"),
    F.max("salary").alias("max_salary"),
    F.count("*").alias("employee_count")
).show()

+----------+-------+----------+--------------+
|department|min_age|max_salary|employee_count|
+----------+-------+----------+--------------+
|     Sales|     34|     75000|             3|
|        HR|     28|     80000|             3|
|        IT|     29|     95000|             4|
+----------+-------+----------+--------------+

In [17]:
# question 5 - Find the average age and total salary of employees.
q5 = agg_sample.agg({
    "age": "avg",
    "salary": "sum"
})
columns = ["total_salary", "avg_age"

q5_df = q5.withColumns(columns)

SyntaxError: '[' was never closed (515974048.py, line 6)

# 2 - withColumn function

A função withColumn no PySpark é usada para adicionar uma nova coluna a um DataFrame ou para substituir uma coluna existente com base em uma expressão especificada

Syntax:

**DataFrame.withColumn(colName, col)**

colName: O nome da nova coluna ou da coluna existente a ser substituída.
col: Uma expressão que define os valores da coluna, que pode ser uma instância de Column, uma expressão SQL, ou uma função do módulo pyspark.sql.functions.

## 2.1 - Examples

**Adicionar uma nova coluna**

Vamos adicionar uma nova coluna chamada "idade_5_anos" que será a idade atual acrescida de 5 anos.

In [ ]:
data = [("Alice", 34), ("Bob", 45), ("Catherine", 29)]
columns = ["Nome", "Idade"]

df = spark.createDataFrame(data, columns)

# Adicionar uma nova coluna "idade_5_anos"
df = df.withColumn("idade_5_anos", F.col("Idade") + 5)

In [ ]:
df.show()

+---------+-----+------------+
|     Nome|Idade|idade_5_anos|
+---------+-----+------------+
|    Alice|   34|          39|
|      Bob|   45|          50|
|Catherine|   29|          34|
+---------+-----+------------+

**Substituir uma coluna existente**

Vamos substituir a coluna "Idade" com a idade acrescida de 10 anos.

In [ ]:
df = df.withColumn("Idade", F.col("Idade") + 10)
df.show()

+---------+-----+------------+
|     Nome|Idade|idade_5_anos|
+---------+-----+------------+
|    Alice|   44|          39|
|      Bob|   55|          50|
|Catherine|   39|          34|
+---------+-----+------------+

**Converter tipos de dados**

In [ ]:
# Converter uma coluna de string para inteiro
df = df.withColumn("Idade", F.col("Idade").cast("int"))
df.show()

+---------+-----+------------+
|     Nome|Idade|idade_5_anos|
+---------+-----+------------+
|    Alice|   44|          39|
|      Bob|   55|          50|
|Catherine|   39|          34|
+---------+-----+------------+

**Aplicar funções SQL integradas**

In [ ]:
# Adicionar uma nova coluna "AnoAtual" usando a função current_year
df = df.withColumn("AnoAtual", F.year(F.current_date()))
df.show()

+---------+-----+------------+--------+
|     Nome|Idade|idade_5_anos|AnoAtual|
+---------+-----+------------+--------+
|    Alice|   44|          39|    2024|
|      Bob|   55|          50|    2024|
|Catherine|   39|          34|    2024|
+---------+-----+------------+--------+

**Criar uma coluna calculada com base em outras colunas**

In [ ]:
# Adicionar uma nova coluna "SalarioAnual" que é "SalarioMensal" vezes 12
df = df.withColumn("SalarioAnual", F.col("SalarioMensal") * 12)

## 2.2 - Exercises

In [23]:
# data
data = [
    ("John", "Doe", 28),
    ("Jane", "Smith", 32),
    ("Mike", "Johnson", 25),
    ("Emily", "Brown", 34),
    ("Kevin", "Davis", 30)
]

columns = ["first_name", "last_name", "age"]

# Create a DataFrame
df = spark.createDataFrame(data, columns)

In [24]:
# 1 - Add a new column full_name by concatenating first_name and last_name with a space in between.
full_name_df = df.withColumn(
    "full_name",
    F.concat(F.col("first_name"), F.lit(" "), F.col("last_name"))
    )
full_name_df.show()

+----------+---------+---+------------+
|first_name|last_name|age|   full_name|
+----------+---------+---+------------+
|      John|      Doe| 28|    John Doe|
|      Jane|    Smith| 32|  Jane Smith|
|      Mike|  Johnson| 25|Mike Johnson|
|     Emily|    Brown| 34| Emily Brown|
|     Kevin|    Davis| 30| Kevin Davis|
+----------+---------+---+------------+

In [25]:
# 2 - Create a new column age_after_5_years that shows each person's age 5 years from now.
age_df = df.withColumn(
    "age_after_5_years",
    F.col("age") + 5
)

age_df.show()

+----------+---------+---+-----------------+
|first_name|last_name|age|age_after_5_years|
+----------+---------+---+-----------------+
|      John|      Doe| 28|               33|
|      Jane|    Smith| 32|               37|
|      Mike|  Johnson| 25|               30|
|     Emily|    Brown| 34|               39|
|     Kevin|    Davis| 30|               35|
+----------+---------+---+-----------------+

In [26]:
# 3 - Add a column name_length that calculates the length of the first_name.
name_df = df.withColumn(
    "name_length",
    F.length("first_name")
)
name_df.show()

+----------+---------+---+-----------+
|first_name|last_name|age|name_length|
+----------+---------+---+-----------+
|      John|      Doe| 28|          4|
|      Jane|    Smith| 32|          4|
|      Mike|  Johnson| 25|          4|
|     Emily|    Brown| 34|          5|
|     Kevin|    Davis| 30|          5|
+----------+---------+---+-----------+

In [27]:
# 4 - Convert the age column to a string type and store it in a new column age_str.
str_df = df.withColumn(
    "age_str",
    F.col("age").cast("int")
)

str_df.show()

+----------+---------+---+-------+
|first_name|last_name|age|age_str|
+----------+---------+---+-------+
|      John|      Doe| 28|     28|
|      Jane|    Smith| 32|     32|
|      Mike|  Johnson| 25|     25|
|     Emily|    Brown| 34|     34|
|     Kevin|    Davis| 30|     30|
+----------+---------+---+-------+

In [28]:
# 5 - Create a column is_adult that indicates whether a person is an adult (age >= 18).
adult_df = df.withColumn(
    "is_adult",
    F.col("age") >= 18
)

adult_df.show()

+----------+---------+---+--------+
|first_name|last_name|age|is_adult|
+----------+---------+---+--------+
|      John|      Doe| 28|    true|
|      Jane|    Smith| 32|    true|
|      Mike|  Johnson| 25|    true|
|     Emily|    Brown| 34|    true|
|     Kevin|    Davis| 30|    true|
+----------+---------+---+--------+

In [31]:
# 6 - Add a column name_in_uppercase that converts the first_name to uppercase.
upper_df = df.withColumn(
    "name_in_upper",
    F.upper("first_name")
)

upper_df.show()

+----------+---------+---+-------------+
|first_name|last_name|age|name_in_upper|
+----------+---------+---+-------------+
|      John|      Doe| 28|         JOHN|
|      Jane|    Smith| 32|         JANE|
|      Mike|  Johnson| 25|         MIKE|
|     Emily|    Brown| 34|        EMILY|
|     Kevin|    Davis| 30|        KEVIN|
+----------+---------+---+-------------+

In [32]:
# 7 - Create a column age_category that categorizes age into "Young" (age < 30) and "Old" (age >= 30).
category_df = df.withColumn(
    "age_category",
    F.when(F.col("age") < 30, "Young")
    .when(F.col("age") >= 30, "Old")
)

category_df.show()

+----------+---------+---+------------+
|first_name|last_name|age|age_category|
+----------+---------+---+------------+
|      John|      Doe| 28|       Young|
|      Jane|    Smith| 32|         Old|
|      Mike|  Johnson| 25|       Young|
|     Emily|    Brown| 34|         Old|
|     Kevin|    Davis| 30|         Old|
+----------+---------+---+------------+

In [34]:
# 8 - Add a column last_name_length that calculates the length of the last_name.
last_name_df = df.withColumn(
    "last_name_length",
    F.length("last_name")
)
last_name_df.show()

+----------+---------+---+----------------+
|first_name|last_name|age|last_name_length|
+----------+---------+---+----------------+
|      John|      Doe| 28|               3|
|      Jane|    Smith| 32|               5|
|      Mike|  Johnson| 25|               7|
|     Emily|    Brown| 34|               5|
|     Kevin|    Davis| 30|               5|
+----------+---------+---+----------------+

In [37]:
# 9 - Create a column name_with_initial that combines first_name and only the first letter of last_name.
initial_df = df.withColumn(
    "name_with_initial",
    F.concat(F.col("first_name"), F.lit(" "), F.col("last_name").substr(1, 1))
)
initial_df.show()

+----------+---------+---+-----------------+
|first_name|last_name|age|name_with_initial|
+----------+---------+---+-----------------+
|      John|      Doe| 28|           John D|
|      Jane|    Smith| 32|           Jane S|
|      Mike|  Johnson| 25|           Mike J|
|     Emily|    Brown| 34|          Emily B|
|     Kevin|    Davis| 30|          Kevin D|
+----------+---------+---+-----------------+

In [38]:
# 10 - Add a column even_or_odd_age that labels each person's age as "Even" or "Odd".
even_odd = df.withColumn(
    "even_or_odd_age",
    F.when(F.col("age") % 2 == 0, "Even")
    .when(F.col("age") % 2 != 0, "Odd")
)

even_odd.show()

+----------+---------+---+---------------+
|first_name|last_name|age|even_or_odd_age|
+----------+---------+---+---------------+
|      John|      Doe| 28|           Even|
|      Jane|    Smith| 32|           Even|
|      Mike|  Johnson| 25|            Odd|
|     Emily|    Brown| 34|           Even|
|     Kevin|    Davis| 30|           Even|
+----------+---------+---+---------------+